body {
	font-family: verdana
}

.start {
	text-align: center;
	color: white;
	background-image: url("https://syncrafter.github.io/school.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 20px;
}

.start h1 {
	font-size: 100px;
	margin-top: 0px;
}

.start h2 {
	font-size: 70px;
}

.start a {
	font-size: 30px;
	color: white;
	text-decoration: none;
	border: solid white 1.5px;
	padding: 5px;
}

.start a:hover {
	border: none;
}
	
